<div class="container border border-primary rounded fixed-top" id='cart'>
    <div class="row">
        <div class="col-4">
            <h5>Shopping Cart</h5>
        </div>
        <div class="offset-4 col-4">
            <div class="btn btn-outline-primary">
                Back To Shopping
            </div>
        </div>
    </div>
    <div class="row" id="pizza-row">
        <div class="container">
            <div class="row">
                <h5 class="col-4">Pizzas:</h5>
            </div>
            <div class="row" id="pizza-container">
                <div class="col-6">
                    Large Sicilian
                </div>
                <div class="col-4">
                    <h5>Toppings</h5>
                    <ul>
                        <li>Pepperoni</li>
                    </ul>
                </div>
                <div class="col-2">
                    Price: 15.50$
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="pasta-row">
        <div class="container">
            <div class="row">
                <h5 class="col-4">Pastas:</h5>
            </div>
            <div class="row" id="pasta-container">
                <div class="col-6">
                    Large Sicilian
                </div>
                <div class="col-2 offset-4">
                    Price: 15.50$
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="salads-row">
        <div class="container">
            <div class="row">
                <h5 class="col-4">Salads:</h5>
            </div>
            <div class="row" id="salad-container">
                <div class="col-6">
                    Large Sicilian
                </div>
                <div class="col-2 offset-4">
                    Price: 15.50$
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="subs-row">
        <div class="container">
            <div class="row">
                <h5 class="col-4">Subs:</h5>
            </div>
            <div class="row" id="sub-container">
                <div class="col-6">
                    Large Sicilian
                </div>
                <div class="col-4">
                    <h5>Extras</h5>
                    <ul>
                        <li>Pepperoni</li>
                    </ul>
                </div>
                <div class="col-2">
                    Price: 15.50$
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="platters-row">
        <div class="container">
            <div class="row">
                <h5 class="col-4">Platters:</h5>
            </div>
            <div class="row" id="platter-container">
                <div class="col-6">
                    Large Sicilian
                </div>
                <div class="offset-4 col-2">
                    Price: 15.50$
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-8 col-4" id="total">
            <h6>Total:</h6>
            <div class="btn btn-primary">
                Place an order
            </div>
        </div>
    </div>
</div>
