<div class="container border border-primary rounded fixed-top" id='cart'>
    <div class="row">
        <div class="col-4">
            <h5>Shopping Cart</h5>
        </div>
        <div class="offset-4 col-4">
            <div class="btn btn-primary">
                Back To Shopping
            </div>
        </div>
    </div>
    <div class="row" id="pizza-row">
        <h5>Pizzas:</h5>
    </div>
    <div class="row" id="pasta-row">
        <h5>Pastas:</h5>
    </div>
    <div class="row" id="salads-row">
        <h5>Salads:</h5>
    </div>
    <div class="row" id="subs-row">
        <h5>Subs:</h5>
    </div>
    <div class="row" id="platters-row">
        <h5>Platters:</h5>
    </div>
    <div class="row">
        <div class="offset-8 col-4" id="total">
            Total:
        </div>
    </div>
</div>
