<div class="container border border-primary rounded fixed-top" id="registration-form">
    <div class="row">
        <div class="offset-8 col-4">
            <div class="btn btn-outline-primary" id="back-to-shopping-from-registration">
                Back To Shopping
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <h3>Registration Form</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Username" id="registration-username" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" id="registration-name" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Surname" id="registration-surname" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email" id="registration-email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password" id="registration-password" value="" />
                </div>
                <div class="btn btn-primary" id="send-registration-button">
                    Register
                </div>
            </form>
        </div>
    </div>
</div>
