{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row" id="main-row">
        <div class="col-3" id="left-part">
            <div id="user">
            </div>
            <div class="channels-overview">
                <div class="channels-section">
                    <h5>Your channels</h5>
                    <div class="channels" id="yourChannelsList"></div>
                    <div class="search">
                        <form class="searchForm" action="" method="post">
                            <input type="text" class="search-input" name="channelSearch" value="">
                        </form>
                    </div>
                </div>
                <div class="channels-section">
                    <h5>All channels:</h5>
                    <div class="channels" id="allChannelsList"></div>
                    <div class="search">
                        <form class="searchForm" action="" method="post">
                            <input type="text" class="search-input" name="channelSearch">
                        </form>
                    </div>
                </div>
                <button type="button" id="createChannelButton">Create Channel</button>
            </div>
        </div>
        <div class="col-9" id="right-part">
            <div id="channelHeader"></div>
            <div id="messagesArea">
            </div>
            <div class="row" id="messageInput">
                <textarea class="form-control col-10" id="messageTextArea" placeholder="Enter your message..."></textarea>
                <button class="col-2" id="sendMessageButton">Send</button>
            </div>
        </div>
    </div>
    <div class="row fixed-top" id="sign-in-row">
        <div class="col-6 offset-3" id="sign-in">
            <form class="col-6 offset-3" id="sign-in-form">
                <input type="text" id="username" placeholder="username">
                <button type="submit" name="submitNameButton">Submit</button>
            </form>
        </div>
    </div>
    <div class="row fixed-top" id="create-channel-row">
        <div class="col-6 offset-3" id="createChannelDiv">
            <div class="col-6 offset-3">
                <input type="text" id="channelName" placeholder="Channel Name">
                <button type="submit" id="newChannelSubmit" name="button">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
