{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left-part">
            <div id="user">
            </div>
            <div class="channels-overview">
                <div class="channels-section">
                    <h5>Your channels</h5>
                    <div class="channels" id="yourChannelsList"></div>
                    <div class="search">
                        <form class="searchForm" action="" method="post">
                            <input type="text" class="search-input" name="channelSearch" value="">
                            <button type="submit" class="search-button" name="searchButton"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="channels-section">
                    <h5>All channels:</h5>
                    <div class="channels" id="allChannelsList"></div>
                    <div class="search">
                        <form class="searchForm" action="" method="post">
                            <input type="text" class="search-input" name="channelSearch" value="">
                            <button type="submit" class="search-button" name="searchButton"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <button type="button" id="createChannelButton">Create Channel</button>
            </div>

        </div>
        <div class="col-9">
            text
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3" id="sign-in">
            <form id="sign-in-form" action="#" method="post">
                <input type="text" id="username" placeholder="username">
                <button type="submit" class="search-button" name="submitNameButton">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="createChannelDiv">
            <input type="text" id="channelName" placeholder="Channel Name">
            <button type="submit" id="newChannelSubmit" name="button">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
