body {
    font-family: Arial, sans-serif;
}

#profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#me {
    text-align: center;
}

ul {
    margin-left: 25%;
}

.interest {
    font-size: 1.25em;
    margin-top: 3px;
}

.list-header {
    margin-left: 25%;
}

a {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: darkcyan;
}

.some-words {
    font-size: 1.5em;
}

.header {
    text-align: center;
}

.paragraph {
    width: 50%;
    text-align: justify;
    font-size: 2.5ex;
    margin-left: auto;
    margin-right: auto;
}

.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    width: 50%;
}