.navbar {
    font-size: 1.75em;
    background-color: black;
    padding: 0px;
    margin-bottom: 15px;
    i {
        color: white;
        font-size: 1.75em;
        padding: 16px 0px;
    }
    .nav-item {
        .nav-link {
            padding: 16px 16px;
            color: white;
            text-decoration: none;
            &:hover {
                background-color: whitesmoke;
                color: black !important;
            }
            &:visited {
                color: white;
            }
        }
    }
}

%default-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#top-interests ul {
    @extend %default-list;
    text-align: left;
}

#bottom-interests {
    display: none;
    h4 {
        width: 100%;
        text-align: center;
    }
    ul {
        @extend %default-list;
        text-align: center;
    }
}

#profile-pic {
    width: 100%;
    margin-bottom: 10px;
}

.paragraph {
    text-align: justify;
    font-size: 2.25ex;
}

@media (max-width: 573px) {
    #profile-pic {
        width: 70%;
        margin-left: 15%;
    }
    
    #about-me {
        text-align: center;
    }
    
    #bottom-interests {
        display: block;
    }
    
    #top-interests {
        display: none;
    }
}