{% extends "orders/layout.html" %}

{% block head %}
    <title>Menu</title>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row" id="navbar">
            <div class="col-12">
                <div class="offset-10 col-2 btn btn-secondary" id="cart-button">
                    Cart
                </div>
            </div>
        </div>
        <div class="row" id="cart-row">
        </div>
        <div class="row" id="login-row">
        </div>
        <div class="row" id="register-row">
        </div>
        <div class="row" id="menu-row">
            <div class="card col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img">
                        <img src="../../static/orders/icons/pizza.png">
                    </div>
                    <h2>Pizza</h2>
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id="pizza-dough-choice">
                    </div>
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id="pizza-topping-choice">
                    </div>
                    <div id="topping-container">
                    </div>
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id="pizza-size-choice">
                    </div>
                    <h5 id="pizza-price"></h5>
                    <button class="add-to-cart btn" id="add-pizza-button"">Add to cart</button>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img">
                        <img src="../../static/orders/icons/spaghetti.png">
                    </div>
                    <h2>Pasta</h2>
                    <div class="btn-group-vertical btn-group-toggle" id="pastas-choice" data-toggle="buttons">
                    </div>
                    <h5 id="pasta-price-container"></h5>
                    <button class="add-to-cart btn" id="add-pasta-button"">Add to cart</button>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img">
                        <img src="../../static/orders/icons/salad.png">
                    </div>
                    <h2>Salads</h2>
                    <div class="btn-group-vertical btn-group-toggle" id="salad-choice" data-toggle="buttons">
                    </div>
                    <h5 id="salad-price-container"></h5>
                    <button class="add-to-cart btn" id="add-salad-button"">Add to cart</button>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-6 col-lg-4 offset-lg-2">
                <div class="box">
                    <div class="img">
                        <img src="../../static/orders/icons/sandwich.png">
                    </div>
                    <h2>Subs</h2>
                    <div class="btn-group-vertical btn-group-toggle" id="sub-size-choice" data-toggle="buttons">
                    </div>
                    <div>
                        <h2>Subs</h2>
                        <div id="subs-choice">
                        </div>
                        <h2>Extras</h2>
                        <div class="btn-group-vertical btn-group-toggle" id="extras-choice">
                        </div>
                    </div>
                    <h5 id="sub-price-container"></h5>
                    <button class="add-to-cart btn" id="add-sub-button"">Add to cart</button>
                </div>
            </div>
            <div class="card col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img">
                        <img src="../../static/orders/icons/cutlery.png">
                    </div>
                    <h2>Dinner Platters</h2>
                    <div class="btn-group-vertical btn-group-toggle" id="platter-size-choice" data-toggle="buttons">
                    </div>
                    <div>
                        <h2>Platters</h2>
                        <div id="platter-choice">
                        </div>
                    </div>
                    <h5 id="platter-price-container"></h5>
                    <button class="add-to-cart btn" id="add-platter-button"">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
